@use "@carbon/layout" as layout;
@use "@carbon/colors" as colors;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "IBM Plex Sans", "IBM Plex", sans-serif;
  color: colors.$gray-100;
  background: colors.$white-0;
}

*,
a {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: inherit;
  text-decoration: none;
}

.search-bar-wrapper,
.page-heading {
  margin-left: layout.$spacing-07;
}
.search-bar-wrapper {
  max-width: layout.$spacing-13 * 4;
  width: 100%;
}
.product-image-wrapper {
  width: 100%;
  height: layout.rem(180px);
  position: relative;
}
.product-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: colors.$white-0;
  display: block;
}
.product-title {
  margin-top: layout.$spacing-05;
  font-size: layout.rem(16px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-price {
  font-weight: bold;
  margin: layout.$spacing-03 0;
}
.product-description {
  margin: layout.$spacing-03 0;
  color: colors.$gray-70;
}
.no-products-message {
  text-align: center;
  margin-top: layout.$spacing-13;
  margin-left: auto;
  margin-right: auto;
  font-size: layout.$spacing-07;
  color: colors.$gray-70;
  white-space: nowrap;
  width: fit-content;
  display: block;
}
.center-vertical {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.product-grid {
  gap: layout.$spacing-07;
}
